/* -- RESET -- */
*, *::before, *::after {
    box-sizing: border-box;
}

img {
	max-width: 100%;
	display: block;
}

/* -- LAYOUT -- */
body {
    font-family: 'Inter', sans-serif;
    background-color: #272626;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    max-width: 1024px;
	background-color: #121212;
    margin: 0 auto;
}

/* -- HEADER -- */
header {
    height: 300px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-image: url("/images/chairs-cinema.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header h1 {
    font-size: 1.375rem; /* 22px */
    font-weight: 700;
}

header a {
    font-size: 0.875rem; /* 14px */
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

.search-bar {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
}

.search-bar input,
.search-bar button {
    font-size: 0.875rem; /* 14px */
    padding: 10px 20px;
    border: none;
    color: #fff;
    font-family: inherit;
}

.search-bar input {
    position: relative;
    background-color: #2E2E2F;
    border-radius: 10px 0 0 10px;
}

.search-bar i {
    display: none;
}

.search-bar button {
    background-color: #4B4B4B;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3rem; /* 48px */
    }
    header a {
        font-size: 1rem; /* 16px */
    }
    .search-bar input,
    .search-bar button {
        font-size: 1rem; /* 16px */
        padding: 10px 40px;
        border: none;
        color: #fff;
        font-family: inherit;
    }
    .search-bar i {
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 10px;
        left: 15px;
    }
}

@media (min-width: 500px) {
    header {
        padding: 50px;
    }
}

/* -- SECTION -- */
section {
    min-height: calc(100vh - 300px);
    padding: 30px 10px;
}

.section-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2E2E2F;
}

.section-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    display: none;
}

.section-cards :last-child {
    border: none;
}

/* -- PLACEHOLDER FOR MOVIE CARDS -- */
.section-placeholder i {
    font-size: 50px;
}

.section-placeholder h2 {
    font-size: 1rem; /* 16px */
    margin: 2px;
}

@media (min-width: 768px) {
    .section-placeholder i {
        font-size: 80px;
    }
    .section-placeholder h2 {
        font-size: 1.25rem; /* 20px */
        margin: 5px;
    }
}

@media (min-width: 500px) {
    section {
        padding: 50px;
    }
}

/* -- MOVIE CARD -- */
.movie-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px 0;
    border-bottom: 2.5px solid #2C2C2C;
    width: 100%;
}

.movie-card p {
    font-size: 0.875rem; /* 14px */
}

.movie-card img {
    width: 140px;
    
}

.movie-card--desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-card--desc--header,
.movie-card--desc--subheader,
.button-add-movie-to-watchlist {
    display: flex;
    align-items: center;
}

.movie-card--desc--header {
    gap: 10px;
}

.movie-card--desc--header h5,
.movie-card--desc--header p,
.movie-card--desc--paragraph {
    margin: 0;
}

.movie-card--desc--header h5 {
    font-size: 1.375rem; /* 22px */
}

.movie-card--desc--subheader {
    flex-direction: column;
    align-items: start;
}

.movie-card--desc--subheader p {
    margin: 5px 0;
}

.button-add-movie-to-watchlist {
    gap: 7px;
}

.button-add-movie-to-watchlist:hover {
    cursor: pointer;
}

.button-add-movie-to-watchlist i {
    font-size: 25px;
}

.movie-card--desc--paragraph {
    color: #A5A5A5;
    line-height: 1.5;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .movie-card {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 25px 0;
        border-bottom: 2.5px solid #2C2C2C;
    }
    .movie-card p {
        font-size: 1rem; /* 16px */
    }
    .movie-card--desc--header h5 {
        font-size: 1.75rem; /* 28px */
    }
    .movie-card--desc--subheader {
        flex-direction: row;
        gap: 30px;
    }
    .movie-card--desc--subheader p {
        margin: 15px 0;
    }
    .movie-card--desc--paragraph {
        margin-top: 0px;
    }
}





